[InfluxDb]
user=
pass=
host=smartcampus-influx.oulu.fi
db_default=dev
port=443
ssl=true

[SmartCampusApi]
url=https://smartcampus.oulu.fi/manage/api
apikey=

[URL]
all=https://smartcampus.oulu.fi/static/static-sensors/all.csv
elt=https://smartcampus.oulu.fi/static/static-sensors/elt-2-hp.csv

[Query]
deveuis = SELECT deveui FROM mqtt_consumer WHERE "topic" = 'cwc/elsys/parsed' AND time >= now() - 2h
test_sensor = A81758FFFE031046